* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  background-color: #EC715F;
}
header ul {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
header li {
  list-style: none;
  height: 70px;
}
.nav-logo {
  float: left;
}
.nav-icon {
  color: #FAFAFA;
  font-size: 16px;
  padding: 25px 30px;
  display: inline-block;
  float: right;
}
.main-subtitle {
  text-align: center;
  font-size: 32px;
  color: #000000;
}
.main-subtitle::after {
  content: "";
  display: block;
  margin: 0 auto 8px;
  border-bottom: solid 3px #EC715F;
  width: 70px
}

.subtitle-comment {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px auto;
}
.main-1 {
  height: 650px;
  background-image: url(img/mv.png);
}
.main-title {
  padding-top: 200px;
  text-align: center;
  font-size: 64px;
  color: #FAFAFA;
}
.title-comment {
  color: #FAFAFA;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
.main-2 {
  background-color: #ECEFF1;
}
.portfolio {
  width: 920px;
  margin: 0px auto;
  padding: 90px 0;
}
.box1 {
  background-image: url(img/sketch.jpg);
  float: left;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.box2 {
  background-image: url(img/websuku.png);
  float: left;
  margin: 0  10px 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.box3 {
  background-image: url(img/write.jpg);
  float: left;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.box4 {
  background-image: url(img/webcamp.png);
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.box5 {
  background-image: url(img/talk.jpg);
  float: left;
  margin: 0  10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.box6 {
  background-image: url(img/webcamp-mother.png);
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.feature {
  width: 980px;
  margin: 0px auto;
  padding: 90px 0;
}
.fa-code, .fa-desktop, .fa-cogs {
  font-size: 60px;
  text-align: center;
}
.strength1, .strength3 {
  width: 320px;
  height: auto;
  float: left;
}
.strength2 {
  width: 320px;
  height: auto;
  margin: 0px 10px 0px 10px;
  float: left;
}
.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
}
.strength {
  text-align: center;
}
.main-4 {
  background-color: #ECEFF1;
}
.profile {
  width: 1024px;
  margin: 0px auto;
  padding: 90px 0;
}
.introduction-image {
  width: 512px;
  float: left;
}
.my-icon {
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.introduction-comment {
  float: left;
  width: 512px;
}
.introduction-name {
  font-size: 20px;
  margin: 30px auto 5px;
}
.introduction-skill {
  font-size: 20px;
  margin: 20px auto 5px;
}
.comment {
  font-size: 16px;
  color: #000000;
}
.contact {
  width: 800px;
  margin: 0px auto;
  padding: 90px 0;
}
.address {
  float: left;
  width: 400px;
  text-align: center;
}
.address-title {
  font-size: 20px
  margin-bottom: 5px;
}
.e-mail, .tel-number {
  border-bottom: solid 1px black;
  display: inline-block;
}
.mail {
  margin-bottom: 20px;
}
.sns {
  float: left;
  width: 400px;
  text-align: center;
}
.fa-twitter {
  font-size: 50px;
  margin: 0 20px;
}
.fa-facebook ,.fa-instagram {
  font-size: 50px
}
footer {
  color: #FAFAFA;
  background-color: #EC715F;
  text-align: center;
  padding: 20px;
  height: 60px;
}